{{ template "header" . }}
<h1>List of tasks</h1>
<form action="/list/0" method="GET">
    <label>タスク名</label><input type="text" name="kw" value="{{ .Kw }}">
    <br>
    <input type="checkbox" name="is_done" value="checked" {{ if .IsDone }}checked{{ end }}><label>完了</label>
    <input type="checkbox" name="is_not_done" value="checked" {{ if .IsNotDone }}checked{{ end }}><label>未完了</label>
    <br>
    <label>カテゴリ名(複数選択は空白で繋いでください)</label><input type="text" name="category_name" value="{{ .CategoryName }}">
    <input type="submit" value="検索">
</form>
<a href="/task/new"><button>タスク新規登録</button></a>
<form action="/category/new" method="POST">
    <label>カテゴリー新規登録</label>
    <input type="text" name="category_name">
    <input type="submit" value="カテゴリを追加">
</form>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<table>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>コメント</th>
        <th>登録日</th>
        <th>状態</th>
        <th>優先度</th>
        <th>締め切り</th>
        <th>残り日数</th>
    </tr>
    {{ range $task_index, $task := .Tasks }}
    <tr style='{{ if gt $task.Priority 5}}font-weight:bold;{{ end }} {{ if index $.DangerDeadline $task_index}}color:red;{{ end }}'>
        <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td>{{ $task.Title }}</td>
        <td>{{ $task.Comment }}</td>
        <td>{{ $task.CreatedAt }}</td>
        <td>{{ if $task.IsDone }}済{{ else }}未{{ end }}</td>
        <td>{{ $task.Priority }}</td>
        <td>{{ $task.Deadline }}</td>
        <td>{{ index $.RestDay $task_index }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
{{ if .HasPrePage }}
<p><a href="/list/{{ .PrePageId }}">前へ</a></p>
{{ end }}
{{ if .HasNextPage }}
<p><a href="/list/{{ .NextPageId }}">次へ</a></p>
{{ end }}
<br>
<p><a href="/logout">ログアウト</a></p>
<p><a href="/delete_user">ユーザを削除する</a></p>
{{ template "footer" }}
